body {
    font: 16px/28px arial, sans-serif;
    background-image: url(../gambar/bground.png);
}

.container {
    width: 800px;
    margin:auto;
    background-color: white;
}
.text {
    margin-top: 10px;
    width: 10px;
    
}