body {
    font: 16px/28px arial, sans-serif;
    background-image: url(../gambar/bground.png);
}

.container {
    width: 800px;
    margin:auto;
    background-color: white;
}
.header {
    padding: 20px;
    padding-bottom: 10px;

}
.header .judul {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 2px;
    margin-right: 20px;
}
.header ul li {
    display: inline-block;
    margin-right: 20px;
    
}
.header a {
    text-decoration: none;
    color:salmon;
}
.header a:hover{
    background-color: lightskyblue;
    color: white;
}
.foto {
    height: 280px;
    background-image: url(../gambar/cover.jpg);
    background-size: cover;
    background-position: 0 -180px;
    border: 5px solid lightskyblue;
}
.cerita {
    position: relative;
	width: 100%;
	height: 500px;
	overflow-y: scroll;
	margin-bottom: 100px;
}
.footer{
    position: relative;
	width: 33%;
	height: 100%;
    float:left;
}
.instagram {
    padding-right: 20px;
	margin-bottom: -10px;
}
footer  {
    position: relative;
	width: 100%;
	height: 110px;
	background-image: linear-gradient(#bdb5b5, #0a0a0a);
	padding: 10px 5%;
	overflow-y: hidden;
}

h2 {
    text-align: left;
    text-shadow: lime;
    
}
.text1 {
    font-size: 15px;
    width: auto;
    padding: 1px;
    margin top: -110px
    margin-left: 10px;
}
.ig {
    padding: 0px;
    margin-right: 10px;
    margin-bottom: -10px ;
}
.text2 {
    font-size: 15px;
    width: auto;
    padding: 1px;
    margin top: -110px
    margin-left: 10px;
}
.fb {
    padding: 0px;
    margin-right: 10px;
    margin-bottom: -10px ;
}
.text3 {
    font-size: 15px;
    width: auto;
    padding: 1px;
    margin top: -110px
    margin-left: 10px;
}
.tw {
    padding: 0px;
    margin-right: 10px;
    margin-bottom: -10px ;
}
.penutup a:hover {
    background-color:lightskyblue ;
    color: white ;
}
.penutup a {
    text-decoration: none;
    color: salmon;
}
